.account {
  & .links {
    & a {
      color: black;
      font-size: 18px;
      font-family: "FuturaNewBook-Reg";
      @media (min-width: 1200px) {
        font-size: 20px;
      }
    }
  }
  &__content {
    margin-top: 40px;
    position: relative;
    & .links {
      position: relative;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      @media (min-width: 992px) {
        display: flex;
        position: absolute;
        align-items: flex-start;
      }
      & h3 {
        font-size: 20px;
        color: black;
        font-family: "FuturaNewBook-Reg";
        text-align: center;
        text-transform: uppercase;
        @media (min-width: 1200px) {
          font-size: 30px;
        }
      }
    }
    & .personal {
      display: block;
      &.active {
        display: none;
      }
      & h3 {
        font-size: 20px;
        color: black;
        font-family: "FuturaNewBook-Reg";
        text-align: center;
        text-transform: uppercase;
        @media (min-width: 1200px) {
          font-size: 30px;
        }
      }
      & form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & input {
          position: relative;
          height: auto;
          margin-top: 15px;
          padding: 8px 13px 10px;
          background-color: #fff;
          border: 1px solid #c4c4c4;
          box-shadow: none;
          color: #000000;
          border-radius: 5px;
          width: 300px;
        }
        & .submit {
          background-color: black;
          color: white;
          margin-top: 30px;
        }
      }
    }
    & .order {
      width: 100%;
      margin: 0 auto;
      display: none;
      @media (min-width: 768px) {
        width: 500px;
      }
      &.active {
        display: block;
      }
      & h3 {
        font-size: 20px;
        color: black;
        font-family: "FuturaNewBook-Reg";
        text-align: left;
        text-transform: uppercase;
        text-align: center;
        @media (min-width: 1200px) {
          font-size: 30px;
        }
      }
      & .item {
        position: relative;
        margin-top: 30px;
        & .total__cost {
          margin-top: 10px;
          display: block;
          text-align: right;
          color: black;
          font-family: "FuturaNewLight-Obl";
          font-size: 14px;
          text-transform: uppercase;
          @media (min-width: 576px) {
            font-size: 16px;
          }
        }
        & .info {
          & span {
            color: black;
            font-family: "FuturaNewLight-Obl";
            font-size: 14px;
            @media (min-width: 576px) {
              font-size: 18px;
            }
          }
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          width: 100%;
          height: 1px;
          background-color: black;
          left: 0;
          @media (min-width: 576px) {
            height: 2px;
          }
        }
        & .info {
          display: flex;
          flex-direction: column;
        }
        & .order__product {
          display: flex;
          margin-top: 20px;
          & .description {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 50px;
            & .title {
              font-size: 13px;
              text-transform: uppercase;
              color: black;
              font-family: "FuturaNewLight-Obl";
              margin-bottom: 0px;
              @media (min-width: 576px) {
                font-size: 16px;
              }
            }
            & .article {
              color: black;
              font-family: "FuturaNewLight-Obl";
              margin-bottom: 0px;
              font-size: 14px;
              @media (min-width: 576px) {
                font-size: 18px;
              }
            }
            & .cost {
              font-size: 13px;
              text-transform: uppercase;
              color: black;
              font-family: "FuturaNewLight-Obl";
              margin-bottom: 0px;
              @media (min-width: 576px) {
                font-size: 16px;
              }
            }
          }
          & .img {
            width: 130px;
            height: 100px;
            @media (min-width: 576px) {
              width: 140px;
              height: 140px;
            }
            & img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    & .address {
      width: 100%;
      margin: 0 auto;
      display: none;
      @media (min-width: 768px) {
        width: 500px;
      }
      &.active {
        display: block;
      }
      & .add__address {
        font-family: "FuturaNewLight-Obl";
        font-size: 18px;
        color: black;
      }
      & h3 {
        font-size: 20px;
        color: black;
        font-family: "FuturaNewBook-Reg";
        text-align: center;
        text-transform: uppercase;
        @media (min-width: 1200px) {
          font-size: 30px;
        }
      }
      & .table {
        display: flex;
        position: relative;
        margin-top: 20px;
        &::before {
          content: "";
          width: 100%;
          height: 1px;
          background-color: black;
          position: absolute;
          left: 0;
          top: 0;
        }
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: black;
          position: absolute;
          left: 0;
          bottom: 0;
        }
        & .td {
          padding: 10px 0px;
          & p {
            margin-bottom: 0px;
            margin-left: 10px;
            font-family: "FuturaNewLight-Obl";
            font-size: 14px;
            transform: translateY(3px);
            @media (min-width: 576px) {
              font-size: 18px;
              transform: translateY(1px);
            }
          }
          & input {
            transform: translateY(2px);
          }
        }
        & .td-delete {
          margin-left: auto;
          & a {
            color: black;
            font-size: 14px;
            position: relative;
            font-family: "FuturaNewLight-Obl";
            &:after {
              content: "";
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: black;
              height: 1px;
            }
          }
        }
      }
      & .add__table {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & input {
          padding-left: 10px;
          font-size: 14px;
          height: 33px;
          margin-top: 10px;
          border: 1px solid black;
          border-radius: 4px;
        }
        & .city {
          width: 100%;
        }
        & .street {
          width: 100%;
        }
        & .house,
        & .corpus,
        & .apartment {
          width: 32%;
        }
      }
    }
    & .discounts {
      display: none;
      font-size: 16px;
      color: black;
      font-family: "FuturaNewLight-Obl";
      width: 100%;
      margin: 0 auto;
      @media (min-width: 576px) {
        font-size: 20px;
      }
      @media (min-width: 768px) {
        width: 500px;
      }
      & h3 {
        font-size: 20px;
        color: black;
        font-family: "FuturaNewBook-Reg";
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media (min-width: 1200px) {
          font-size: 30px;
        }
      }
      & ul {
        margin-top: 10px;
      }
      & p {
        margin-bottom: 0px;
        margin-top: 10px;
      }
      &.active {
        display: block;
      }
    }
  }
}
