@font-face {
  font-family: "FuturaNewBook-Obl";
  src: url("../fonts/FuturaNewBook-Obl.eot");
  src: url("../fonts/FuturaNewBook-Obl.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaNewBook-Obl.woff2") format("woff2"),
    url("../fonts/FuturaNewBook-Obl.woff") format("woff"),
    url("../fonts/FuturaNewBook-Obl.ttf") format("truetype"),
    url("../fonts/FuturaNewBook-Obl.svg#FuturaNewBook-Obl") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FuturaNewBook-Reg";
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"),
    url("../fonts/FuturaNewBook-Reg.woff") format("woff"),
    url("../fonts/FuturaNewBook-Reg.ttf") format("truetype"),
    url("../fonts/FuturaNewBook-Reg.svg#FuturaNewBook-Reg") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FuturaNewLight-Reg";
  src: url("../fonts/FuturaNewLight-Reg.eot");
  src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaNewLight-Reg.woff2") format("woff2"),
    url("../fonts/FuturaNewLight-Reg.woff") format("woff"),
    url("../fonts/FuturaNewLight-Reg.ttf") format("truetype"),
    url("../fonts/FuturaNewLight-Reg.svg#FuturaNewLight-Reg") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FuturaNewMedium-Reg";
  src: url("../fonts/FuturaNewMedium-Reg.eot");
  src: url("../fonts/FuturaNewMedium-Reg.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FuturaNewMedium-Reg.woff2") format("woff2"),
    url("../fonts/FuturaNewMedium-Reg.woff") format("woff"),
    url("../fonts/FuturaNewMedium-Reg.ttf") format("truetype"),
    url("../fonts/FuturaNewMedium-Reg.svg#FuturaNewMedium-Reg") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GazetatitulItalic";
  src: url("../fonts/GazetatitulItalic.eot");
  src: url("../fonts/GazetatitulItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GazetatitulItalic.woff2") format("woff2"),
    url("../fonts/GazetatitulItalic.woff") format("woff"),
    url("../fonts/GazetatitulItalic.ttf") format("truetype"),
    url("../fonts/GazetatitulItalic.svg#GazetatitulItalic") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FuturaNewDemi-Reg";
  src: url("../fonts/FuturaNewDemi-Reg.eot");
  src: url("../fonts/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2"),
    url("../fonts/FuturaNewDemi-Reg.woff") format("woff"),
    url("../fonts/FuturaNewDemi-Reg.ttf") format("truetype"),
    url("../fonts/FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FuturaNewLight-Obl";
  src: url("../fonts/FuturaNewLight-Obl.eot");
  src: url("../fonts/FuturaNewLight-Obl.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaNewLight-Obl.woff2") format("woff2"),
    url("../fonts/FuturaNewLight-Obl.woff") format("woff"),
    url("../fonts/FuturaNewLight-Obl.ttf") format("truetype"),
    url("../fonts/FuturaNewLight-Obl.svg#FuturaNewLight-Obl") format("svg");
  font-style: normal;
  font-weight: normal;
}
