.slick-next.slick-arrow,
.slick-prev.slick-arrow {
  display: none !important;
}
.slick-dots {
  display: none !important;
  @media (min-width: 992px) {
    display: flex !important;
    position: absolute;
    bottom: 50px;
    left: 5%;
    & li {
      border: 1px solid black;
      border-radius: 50%;
      width: 19px;
      height: 19px;
      margin-left: 5px;
      cursor: pointer;
      &.slick-active {
        background-color: black;
      }
      &:hover {
        background-color: black;
      }
    }
  }
}

.main {
  &__item {
    min-height: 600px;
  }
  @media (min-width: 992px) {
    &__item {
      min-height: auto;
      height: 100vh;
    }
  }
  &__content {
    display: none;
    @media (min-width: 992px) {
      display: block;
      & p {
        font-size: 20px;
        font-family: "FuturaNewBook-Reg";
        color: #2d2d2d;
        text-transform: uppercase;
        margin-left: 5%;
        line-height: 30px;
      }
      & h2 {
        font-size: 38px;
        color: #2d2d2d;
        font-family: "GazetatitulItalic";
        text-transform: uppercase;
        margin-left: 20px;
      }
      & button {
        width: 280px;
        height: 60px;
        border: 1px solid #2d2d2d;
        transition: all 0.3s ease;
        background-color: transparent;
        & a {
          color: #2d2d2d;
          font-family: "FuturaNewBook-Reg";
          font-size: 18px;
        }
        &:hover {
          background-color: black;
          transition: all 0.3s ease;
          & a {
            color: white;
          }
        }
      }
    }
    @media (min-width: 1200px) {
      & p {
        font-size: 24px;
        margin-left: 14%;
      }
      & h2 {
        font-size: 50px;
        margin-left: 5%;
      }
      & button {
        margin-left: 14%;
      }
    }
  }
}
