.slick-next.slick-arrow,
.slick-prev.slick-arrow {
  display: none !important;
}
.slick-dots {
  display: none !important;
  @media (min-width: 992px) {
    display: flex !important;
    position: absolute;
    bottom: 30px;
    left: 7%;
    & li {
      border: 1px solid black;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      margin-left: 4px;
      cursor: pointer;
      &.slick-active {
        background-color: black;
      }
      &:hover {
        background-color: black;
      }
    }
  }
}

.main {
  &__item {
    height: 600px;
    width: 100%;
  }
  @media (min-width: 992px) {
    &__item {
      min-height: auto;
      height: 100vh;
      position: relative;
    }
  }
  &__content {
    display: none;
    @media (min-width: 992px) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      height: 100%;
      & p {
        font-size: 18px;
        font-family: "FuturaNewBook-Reg";
        color: #2d2d2d;
        text-transform: uppercase;
        margin-left: 5%;
        line-height: 30px;
        margin-top: 150px;
      }
      & h2 {
        font-size: 38px;
        color: #2d2d2d;
        font-family: "GazetatitulItalic";
        text-transform: uppercase;
        margin-left: 20px;
        margin-top: 50px;
      }
      & button {
        width: 220px;
        height: 50px;
        border: 1px solid #2d2d2d;
        transition: all 0.3s ease;
        background-color: transparent;
        margin-top: 50px;
        & a {
          color: #2d2d2d;
          font-family: "FuturaNewBook-Reg";
          font-size: 18px;
        }
        &:hover {
          background-color: black;
          transition: all 0.3s ease;
          & a {
            color: white;
          }
        }
      }
    }
    @media (min-width: 1200px) {
      & p {
        font-size: 18px;
        margin-left: 18%;
      }
      & h2 {
        font-size: 42px;
        margin-left: 7%;
      }
      & button {
        margin-left: 18%;
      }
    }
  }
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  @media (min-width: 992px) {
    top: 0%;
    left: 0%;
    transform: translateX(0%) translateY(0%);
  }
}
