.shop {
  @media (min-width: 992px) {
    margin-top: 80px;
    position: relative;
  }
  @media (min-width: 1200px) {
    & .container {
      max-width: 90%;
    }
  }
  &__breadcrumb {
    position: relative;
    padding: 5px 0px;
    margin-top: 15px;
    flex-wrap: wrap;
    display: none;
    @media (min-width: 768px) {
      padding: 15px 0px;
      margin-top: 30px;
      display: flex;
    }
    @media (min-width: 992px) {
      margin-top: 30px;
    }
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      top: 6px;
      left: 0;
      @media (min-width: 768px) {
        height: 2px;
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      bottom: 0;
      left: 0;
      @media (min-width: 768px) {
        height: 2px;
      }
    }
    & li {
      margin-left: 8px;
      position: relative;
      @media (min-width: 768px) {
        margin-left: 20px;
      }
      & a {
        font-size: 8px;
        color: #2d2d2d;
        font-family: "FuturaNewBook-Obl";
        text-transform: uppercase;
        opacity: 0.5;
        @media (min-width: 768px) {
          font-size: 12px;
        }
      }
      &.active {
        & a {
          color: black;
        }
      }
      &::before {
        content: "/";
        position: absolute;
        left: -6px;
        top: 7px;
        color: #2d2d2d;
        opacity: 0.5;
        font-size: 10px;
        @media (min-width: 768px) {
          font-size: 16px;
          left: -12px;
          top: 0px;
        }
      }
      &:first-child {
        margin-left: 0px;
        &::before {
          content: "";
        }
      }
    }
  }
  &__breadcrumb-mob {
    position: relative;
    padding: 5px 0px;
    margin-top: 15px;
    flex-wrap: wrap;
    & li {
      & a {
        font-size: 12px;
        color: #2d2d2d;
        font-family: "FuturaNewBook-Obl";
        text-transform: uppercase;
        opacity: 0.5;
        & i {
          font-size: 10px;
          margin-right: 6px;
        }
      }
    }
    @media (min-width: 768px) {
      display: none;
    }
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      top: 6px;
      left: 0;
      @media (min-width: 768px) {
        height: 2px;
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      bottom: 0;
      left: 0;
      @media (min-width: 768px) {
        height: 2px;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    @media (min-width: 992px) {
      align-items: flex-start;
    }
    & p {
      text-align: center;
      font-size: 16px;
      color: #2d2d2d;
      font-family: "FuturaNewBook-Obl";
      margin-top: 20px;
      @media (min-width: 768px) {
        font-size: 20px;
      }
      @media (min-width: 992px) {
        text-align: left;
        line-height: 24px;
      }
    }
    & span {
      font-size: 16px;
      color: #2d2d2d;
      font-family: "FuturaNewBook-Obl";
      @media (min-width: 768px) {
        font-size: 24px;
      }
      @media (min-width: 992px) {
        font-size: 28px;
      }
    }
    & .share {
      text-decoration: line-through;
      font-size: 12px;
      @media (min-width: 768px) {
        font-size: 16px;
        transform: translateY(-10px);
        display: inline-block;
      }
    }
    & a {
      width: 140px;
      height: 34px;
      border: 1px solid #2d2d2d;
      background-color: transparent;
      margin-top: 20px;
      color: #2d2d2d;
      font-size: 16px;
      font-family: "FuturaNewBook-Reg";
      justify-content: center;
      align-items: center;
      @media (min-width: 768px) {
        width: 260px;
        height: 50px;
      }
      @media (min-width: 992px) {
        position: absolute;
        opacity: 0;
        transition: all 0.3s ease;
        margin-top: 0px;
        bottom: 0;
        width: 100%;
        &.active {
          opacity: 1;
          background-color: black;
          transition: all 0.3s ease;
          color: white;
          font-size: 24px;
        }
      }
      @media (min-width: 1200px) {
        bottom: 0;
        width: 100%;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  &__btn-mob {
    display: flex;
    position: relative;
    @media (min-width: 992px) {
      display: none;
    }
  }
  &__btn-desc {
    display: none;
    @media (min-width: 992px) {
      display: flex;
      position: relative;
      width: 100%;
    }
  }
  &__img {
    position: relative;
    @media (min-width: 992px) {
      cursor: pointer;
    }
    @media (min-width: 1200px) {
      width: 100%;
    }
    & span {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 20px;
      color: black;
      font-family: "FuturaNewMedium-Reg";
      width: 80px;
      height: 50px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
    & .shop__new {
      background-color: #e6ebf2;
    }
    & .shop__sale {
      background-color: #cdb7b3;
    }
    & img {
      width: 100%;
    }
    @media (min-width: 576px) {
      height: 330px;
      & img {
        height: 100%;
      }
    }
    @media (min-width: 992px) {
      position: relative;
    }
    @media (min-width: 1200px) {
      height: 450px;
    }
  }
  &__title {
    margin-top: 30px;
    & h3 {
      font-size: 18px;
      text-transform: uppercase;
      color: #2d2d2d;
      font-family: "FuturaNewMedium-Reg";
      @media (min-width: 768px) {
        font-size: 26px;
      }
    }
  }
  &__bar {
    width: 100%;
    background-color: gray;
    height: 4px;
  }
  &__bug {
    width: 0%;
    background-color: black;
    height: 4px;
  }
  &__load {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    & p {
      font-size: 12px;
      color: #2d2d2d;
      opacity: 0.5;
      text-align: center;
    }
  }
  &__load-btn {
    width: 140px;
    height: 34px;
    border: 1px solid #2d2d2d;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    transition: all 0.3s ease;
    & a {
      color: #2d2d2d;
      font-size: 16px;
      font-family: "FuturaNewBook-Reg";
    }
    @media (min-width: 768px) {
      width: 260px;
      height: 50px;
    }
    @media (min-width: 992px) {
      &:hover {
        background-color: black;
        transition: all 0.3s ease;
        & a {
          color: white;
        }
      }
    }
  }
}

.shop__description {
  background-color: #e6ebf2;
  margin-top: 30px;
  & .block {
    padding: 20px 0px;
    & p {
      font-family: "FuturaNewLight-Obl";
      font-size: 20px;
      margin-bottom: 0px;
      color: black;
      @media (min-width: 768px) {
        font-size: 20px;
      }
      @media (min-width: 992px) {
        font-size: 22px;
      }
      @media (min-width: 1200px) {
        font-size: 22px;
      }
    }
  }
}

.shop__content {
  @media (min-width: 992px) {
    width: 600px;
    margin-left: auto;
  }
  @media (min-width: 1200px) {
    width: 75%;
  }
  & .shop__sort {
    & form {
      display: flex;
      & .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        color: black;
        width: 210px;
        height: 30px;
      }
      & .styledSelect {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: white;
        padding: 0 10px;
        font-weight: bold;
        &:after {
          content: "";
          border: solid black;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          position: absolute;
          top: 11px;
          right: 6px;
          transform: rotate(45deg);
        }
        &:active,
        &.active {
          background-color: white;
          &:after {
            transform: rotate(180deg);
          }
        }
      }
      & .options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;
        z-index: 999;
        margin: 0 0;
        padding: 0 0;
        list-style: none;
        border: 1px solid #ccc;
        background-color: white;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        & li {
          padding: 0 6px;
          margin: 0 0;
          padding: 0 10px;
        }
      }
    }
  }
}

.shop__filters {
  display: none;
  @media (min-width: 992px) {
    display: block;
    position: absolute;
    top: 6%;
    left: 5%;
    width: 300px;
  }
}

.filters__desk {
  display: none;
  @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  & .selected__filter {
    display: flex;
    align-items: flex-start;
    & .filter__item {
      border: 1px solid black;
      padding: 10px 0px 10px 10px;
      margin-right: 30px;
      cursor: pointer;
      & span {
        font-size: 22px;
        font-family: "FuturaNewBook-Obl";
        color: black;
      }
      & button {
        border: none;
        background-color: transparent;
        transform: translateY(-2px);
      }
    }
    & .clear__filter {
      margin-left: 10px;
      & a {
        font-size: 22px;
        font-family: "FuturaNewBook-Reg";
        color: black;
      }
    }
  }
  & .base__filter {
    display: flex;
    & .text {
      font-size: 22px;
      font-family: "FuturaNewBook-Reg";
      color: black;
    }
    & .nice-select {
      border: none;
      padding-left: 8px;
      transform: translateY(-4px);
      & .list {
        border-radius: 0px;
        left: auto;
        right: 0%;
        & li {
          font-size: 20px;
          font-family: "FuturaNewBook-Reg";
          padding-right: 20px;
          padding-left: 40px;
          &:hover {
            background-color: transparent;
          }
        }
        & .selected {
          font-weight: normal;
          background-color: transparent;
          position: relative;
          &:before {
            content: "";
            background-image: url(../img/shop/check.png);
            background-size: 100% 100%;
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            left: 10px;
            width: 15px;
            height: 15px;
          }
        }
      }
      & .current {
        font-size: 20px;
        font-family: "FuturaNewBook-Reg";
      }
      &:after {
        width: 12px;
        height: 12px;
        top: 42%;
        right: 0px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
      }
    }
  }
}

.shop__filters-mob {
  display: block;
  @media (min-width: 992px) {
    display: none;
  }
}

.container-shop {
  @media (min-width: 1200px) {
    max-width: 90%;
  }
}

.shop__filters-mob .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.shop__filters-mob .modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  & .content {
    & h4 {
      font-family: "FuturaNewBook-Reg";
      font-size: 22px;
      color: black;
      text-transform: uppercase;
      margin-top: 30px;
    }
  }
  & ul {
    margin-top: 20px;
    & li {
      & label {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 20px;
        font-family: "FuturaNewBook-Obl";
        & input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:checked ~ .checkmark:after {
            display: block;
          }
        }
        .checkmark {
          position: absolute;
          top: 2px;
          left: 0;
          height: 26px;
          width: 26px;
          background-color: white;
          border-radius: 50%;
          border: 1px solid black;
          &:after {
            content: "";
            position: absolute;
            display: none;
            width: 16px;
            height: 16px;
            background-color: black;
            border-radius: 50%;
            left: 4px;
            top: 4px;
          }
        }
      }
    }
  }
  & .color {
    & li {
      & label {
        & .checkmark {
          &::after {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: block;
          }
        }
        & .pink {
          &:after {
            background-color: #eebdc9;
          }
        }
        & .red {
          &:after {
            background-color: red;
          }
        }
        & .brown {
          &:after {
            background-color: #6e410f;
          }
        }
        & .orange {
          &:after {
            background-color: #e9a326;
          }
        }
        & .beige {
          &:after {
            background-color: #f5f5dc;
          }
        }
        & .yellow {
          &:after {
            background-color: #eddd68;
          }
        }
        & .green {
          &:after {
            background-color: #48801e;
          }
        }
        & .lightblue {
          &:after {
            background-color: #6ca8fc;
          }
        }
        & .blue {
          &:after {
            background-color: #014080;
          }
        }
        & .purple {
          &:after {
            background-color: #7600fa;
          }
        }
        & .grey {
          &:after {
            background-color: #7f7f7f;
          }
        }
        & .white {
          &:after {
            background-color: white;
          }
        }
        & .black {
          &:after {
            background-color: black;
          }
        }
        & .unpainted {
          &:after {
            background-color: #a29990;
          }
        }
      }
    }
  }
}

.shop__filters-mob {
  & #btnMobFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "FuturaNewBook-Reg";
    font-size: 20px;
    background-color: transparent;
    border: 1px solid black;
    margin: 20px auto;
    width: 200px;
    height: 40px;
  }
  & .modal {
    & .modal-content {
      & .close {
        width: 30px;
        height: 30px;
        right: 10px;
        top: 10px;
        cursor: pointer;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      & .content {
        margin-top: 50px;
      }
    }
  }
}
.show__mob_filter {
  & .filter__main {
    display: flex;
    justify-content: space-between;
    & .item {
      border: 1px solid black;
      width: auto;
      padding: 10px 0px 10px 10px;
      cursor: pointer;
      & button {
        width: 30px;
        height: 15px;
        border: none;
        background-color: transparent;
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  & .filter__clear {
    font-family: "FuturaNewBook-Reg";
    font-size: 20px;
    color: black;
    margin-top: 20px;
    display: block;
  }
}
.shop__filters {
  & .content {
    & h4 {
      font-size: 30px;
      text-transform: uppercase;
      color: black;
      font-family: "FuturaNewMedium-Reg";
      margin-top: 60px;
    }
    & ul {
      margin-top: 40px;
      & li {
        margin-top: 24px;
        & label {
          display: block;
          position: relative;
          padding-left: 52px;
          cursor: pointer;
          font-size: 24px;
          font-family: "FuturaNewBook-Obl";
          & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark:after {
              display: block;
            }
          }
          .checkmark {
            position: absolute;
            top: 0px;
            left: -10px;
            height: 36px;
            width: 36px;
            background-color: white;
            border-radius: 50%;
            border: 1px solid black;
            &:after {
              content: "";
              position: absolute;
              display: none;
              width: 22px;
              height: 22px;
              background-color: black;
              border-radius: 50%;
              left: 6px;
              top: 6px;
            }
          }
        }
      }
    }
    & .color {
      & li {
        & label {
          & .checkmark {
            &::after {
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              display: block;
            }
          }
          & .pink {
            &:after {
              background-color: #eebdc9;
            }
          }
          & .red {
            &:after {
              background-color: red;
            }
          }
          & .brown {
            &:after {
              background-color: #6e410f;
            }
          }
          & .orange {
            &:after {
              background-color: #e9a326;
            }
          }
          & .beige {
            &:after {
              background-color: #f5f5dc;
            }
          }
          & .yellow {
            &:after {
              background-color: #eddd68;
            }
          }
          & .green {
            &:after {
              background-color: #48801e;
            }
          }
          & .lightblue {
            &:after {
              background-color: #6ca8fc;
            }
          }
          & .blue {
            &:after {
              background-color: #014080;
            }
          }
          & .purple {
            &:after {
              background-color: #7600fa;
            }
          }
          & .grey {
            &:after {
              background-color: #7f7f7f;
            }
          }
          & .white {
            &:after {
              background-color: white;
            }
          }
          & .black {
            &:after {
              background-color: black;
            }
          }
          & .unpainted {
            &:after {
              background-color: #a29990;
            }
          }
        }
      }
    }
  }
}

#shopModal {
  & .modal-content {
    top: 50px;
  }
  & .modal-dialog {
    max-width: 90%;
    @media (min-width: 576px) {
      max-width: 80%;
    }
    @media (min-width: 992px) {
      max-width: 40%;
    }
  }
  & .modal-header {
    border: none;
    justify-content: center;
    & h5 {
      font-size: 18px;
      color: black;
      font-family: "FuturaNewBook-Reg";
      text-align: center;
      margin-top: 30px;
      @media (min-width: 576px) {
        font-size: 20px;
      }
      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
    & button {
      border: none;
      background-color: transparent;
      margin: 0px;
      padding: 0px;
      right: 15px;
      top: 10px;
      @media (min-width: 992px) {
        right: 20px;
        top: 20px;
      }
    }
  }
  & .modal-body {
    padding: 0px 20px;
    @media (min-width: 992px) {
      padding: 0px 50px;
    }
    & .item {
      display: flex;
      position: relative;
      margin-top: 20px;
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #e8e4e3;
        position: absolute;
        left: 0;
        bottom: -10px;
      }
      &__title {
        margin-left: 10px;
        @media (min-width: 768px) {
          width: 300px;
        }
        & span {
          font-size: 14px;
          font-family: "FuturaNewBook-Reg";
          color: black;
          @media (min-width: 576px) {
            font-size: 18px;
          }
          @media (min-width: 768px) {
            font-size: 20px;
            line-height: 20px;
          }
        }
        & a {
          font-size: 14px;
          font-family: "FuturaNewBook-Reg";
          color: black;
          line-height: 16px;
          display: block;
          margin-bottom: 10px;
          @media (min-width: 576px) {
            font-size: 18px;
          }
          @media (min-width: 768px) {
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
      &__close {
        & i {
          color: black;
        }
      }
      & .img {
        width: 150px;
        height: 90px;
        display: block;
        @media (min-width: 576px) {
          width: 200px;
          height: 150px;
        }
        @media (min-width: 768px) {
          width: 150px;
          height: 150px;
        }
        @media (min-width: 992px) {
          width: 120px;
          height: 150px;
        }
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  & .modal-footer {
    border: none;
    flex-direction: column;
    margin-top: 10px;
    align-items: flex-end;
    @media (min-width: 992px) {
      padding: 20px 50px;
    }
    & .total {
      font-size: 16px;
      font-family: "FuturaNewBook-Reg";
      color: black;
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
    & .btns {
      width: 100%;
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
    }
    & a {
      height: 40px;
      color: white;
      font-size: 14px;
      background-color: black;
      display: block;
      width: 100%;
      text-align: center;
      line-height: 40px;
      margin-top: 10px;
      font-family: "FuturaNewBook-Reg";
      transition: all 0.3s ease;
      @media (min-width: 768px) {
        width: 48%;
        font-size: 18px;
      }
      @media (min-width: 992px) {
        background-color: white;
        color: black;
        border: 1px solid black;
        &:hover {
          color: white;
          background-color: black;
          transition: all 0.3s ease;
        }
      }
    }
    & button {
      background-color: black;
      color: white;
      font-size: 14px;
      height: 40px;
      width: 100%;
      display: block;
      border: none;
      margin-top: 9px;
      font-family: "FuturaNewBook-Reg";
      transition: all 0.3s ease;
      @media (min-width: 768px) {
        width: 48%;
        font-size: 18px;
      }
      @media (min-width: 992px) {
        background-color: white;
        color: black;
        border: 1px solid black;
        &:hover {
          color: white;
          background-color: black;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
